*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
body{
    background: linear-gradient(90deg,rgba(168, 9, 9, 1) 0%, rgba(0, 0, 0, 1) 60%);
    display: grid;
    grid-template-rows: 1fr 6fr;
    color: white;

}
header{

    width: 100%;
    height: 15vh;
    background-color: rgba(240, 248, 255, 0.149);
   

}
#logo{
    font-weight: 900;
    font-size: xx-large;
    padding-left: 50%;
    list-style: none;
}
nav{
    padding-top: 2vh;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: brown;

}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#sec1{
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#sec1 h1{
    width: 50%;
    height: fit-content;
   
}
#sec2{
  
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec2 img{
    border-radius: 50%;
}




