*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
body{
    background: linear-gradient(90deg,rgba(168, 9, 9, 1) 0%, rgba(0, 0, 0, 1) 60%);
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 6fr;
    color: white;

}
header{

    width: 100%;
    height: 15vh;
    background-color: rgba(240, 248, 255, 0.149);
   

}
li{
    list-style: none;
}
.menu-icon {
    display: none;
    font-size: 56px;
    cursor: pointer;
    position: absolute;
    right: 2%;
    z-index: 2;

  }
  .menu-icon:hover {
    color: brown;
   
  }
#logo{
    font-weight: 900;
    font-size: xx-large;
    padding-left: 50%;
    list-style: none;
}
nav{
    padding-top: 2vh;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#menu{
    width: 40%;
    display: block;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: brown;

}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#sec1{
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#sec1 h1{
    width: 50%;
    height: fit-content;
   
}
#sec2{
  
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec2 img{
    border-radius: 50%;
}
.decorationX{
    top: 30vh;
    right: 11vw;

}

@media only screen and (max-width: 600px){
    body{
        
        grid-template-rows: 1fr 7fr ;
        height: 100vh;
        
    }
  

    #menu{
        padding-top: 5vh;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        width: 30%;
        margin-top: 32vh;
        margin-right: 1vw;
        display: none;
        height: 40vh;
        z-index: 1;
        border-radius: 10px;
        box-shadow: 4px 4px 10px white, -4px -4px 10px white;


        background-color: rgba(230, 255, 255, 0.39);    
      
    }
    #menu li{
       
        margin: 0;
        height: 15%;
        

    }
    nav{
        padding: 0;
    }
    .menu-icon {
        display: block;
        font-size: 56px;
        cursor: pointer;
      
      }

     
    main{
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr;
       }

       #sec1{
   
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
       #sec1 h1{
        width: 50%;
        height: fit-content;
        text-align: center;
       
    }
    #sec2 img{
        width: 40%;
    }
    

}



